<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{% block titulo %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            
            {%if session.erro is defined %}
            {{session.erro}}
            {% endif %}
            <form action="/admin/logar" method="POST"> 
            
                <label> Email: </label>
                <input type="text" name="email" >
                
                <label> Senha: </label>
                <input type="text" name="senha" >
                
               
                <input type="submit" value="logar no sistema" >
                
            </form>
            
        
        </div>
        </body>
</html>
