<!-- begin #sidebar -->
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="../assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    LOGO DA EMPRESA
                    <small>NOME DA EMPRESA</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="has-sub">
                <a href="index.php?topicos=pages_empresa/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="has-sub">
                <a href="/pages_empresa/usuarios">
                    <i class="fa fa-empire"></i>
                    <span>Usuários</span>
                </a>
            </li>

            <li class="has-sub">
                <a href="pages_empresa/produtos">
                    <i class="fa fa-users"></i>
                    <span>Produtos</span>
                </a>
            </li>

            <li class="has-sub">
                <a href="index.php?topicos=pages_empresa/estatisticas">
                    <i class="fa fa-area-chart"></i>
                    <span>Estatísticas</span>
                </a>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-inbox"></i> 
                    <span>Suporte</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="">Contatos</a></li>
                    <li><a href="">Tutoriais - Vídeos, Textos</a></li>
                </ul>
            </li>

        </ul>
        <!-- end sidebar nav -->
    </div>
    

<!-- end #sidebar -->
