{% include 'Site/Partials/header.html' %}



{%block session%}

{{session}}

{%endblock%}



<div class="col-md-10 col-md-offset-1">



<div class="content">
	
	<div class="banner">
		<div style="position: absolute; right:50px;  margin-top: 50px"></div>
		<img class="img-responsive" alt="Responsive image" width="100%" src="Public/Images/banner_exterior.png">

	</div>

</div>

<div id="content" class="content">



<div class="row">

	<form class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form" method="POST" action="exterior/cadastrar">

				<!-- begin col-6 -->

				<div class="col-md-6">

					<!-- begin panel -->

					<div class="panel panel-inverse">

						<div class="panel-heading">

							<div class="panel-heading-btn">

								

							</div>

							<h4 class="panel-title">Requisição de Missão no Exterior</h4>

						</div>

						<div class="panel-body panel-form">
								
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4 widget widget-stats bg-green">Missão sem custo para a OM requisitante?</label>

									<div class="col-md-6 col-sm-6">

										<div class="col-sm-3">

						                        <label class="check-inline">

						                            <input name="missao_custo" id="missao_custo" value="1" type="checkbox"   /> Sim

						                        </label>

						                     </div>

									</div>
								</div>

								
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4 widget widget-stats bg-green">Missão custeada por outra OM?</label>

									<div class="col-md-6 col-sm-6">

										<div class="col-sm-3">

						                        <label class="check-inline">

						                            <input name="os_paga_outra_om" id="os_paga_outra_om" value="1" type="checkbox"   /> Sim

						                        </label>

						                     </div>

									</div>
								</div>
								
								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4 widget widget-stats bg-green">Tipo de Missão* :</label>

									<div class="col-md-8 col-sm-8">

									 <select id="missao" name="missao" class="form-control uso_popover" data-placement="top"  required>
										<option value="">SELECIONE TIPO DE MISSÃO</option>										
										<option value="PLAMTAX">PLAMTAX</option>
										<option value="EXTRAPLAMTAX">EXTRA PLAMTAX</option>
									</select>
									

                					</div>

								</div>
								
								

								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4">Nomes dos participantes* :</label>

									<div class="col-md-8 col-sm-8">

									<div class="input-group">

											<input type="hidden" id="total_usuario" name="total_usuario" value="0"/>

						                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>


											<ul id="nomes_exterior" class="primary uso_popover" data-toggle="popover" data-placement="top"  data-content="Digite seu 'Nome de Guerra' e clique sobre ele na lista abaixo.">

											</ul>

										</div>



                					</div>
									 

								</div>
								 






								
								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4">Descrição da missão* :</label>

									<div class="col-md-8 col-sm-8">

									 <textarea class="form-control uso_popover" id="descricao_missao" name="descricao_missao" rows="2" data-toggle="popover" data-placement="bottom"  data-content="Informações relacionada com o propósito da missão."  required></textarea>

									

                					</div>

								</div>
								
								<div id="roteiro_missao" class="roteiroMiss1" style="border:1px solid #ccc;" rel="1">
								
								<div id="contexto" class="text-center"></div>
								
								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4">Data do início da missão* :</label>

									<div class="col-md-3 col-sm-3">

                    					<input type="text" class="form-control calendario" id="data_ida" placeholder="escolha a data" name="data_ida" required />



                					</div>

                					<label class="control-label col-md-3 col-sm-3">Hora do início da missão* :</label>

									<div class="col-md-2 col-sm-2">

								        <input class="form-control col-md-2 hora" type="text" name="hora_inicio_missao" id="hora_inicio_missao" rel="hora_missao" required />

                					</div>



									

									<label class="control-label col-md-4 col-sm-4">Data do retorno da missão* :</label>

									<div class="col-md-3 col-sm-3">

                    					<input type="text" class="form-control calendario" id="data_volta" placeholder="escolha a data" name="data_volta" required />

                					</div>

                					<label class="control-label col-md-3 col-sm-3">Hora do retorno da missão* :</label>

									<div class="col-md-2 col-sm-2">

								        <input class="form-control col-md-2 hora" type="text" name="hora_retorno_missao" id="hora_retorno_missao" rel="hora_retorno" required />

                					</div>
									
									
									<div class="col-md-12 col-sm-12 col-lg-12">
									
									<label class="control-label col-md-4 col-sm-4">País da Missão* :</label>

									<div class="col-md-8 col-sm-8">

									<div class="input-group">

						                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

						                    <input class="form-control" type="text" name="pais" id="pais" placeholder="Digite o País da Missão"  required/>

											<input class="form-control input_pais_hidden" type="hidden" id="pais_hidden" name="pais_hidden" rel="input_pais_hidden" value="" />
											<small class="text-danger">Atenção: Não utilizar acento</small>


										</div>

                					</div>
									</div>

									<label class="control-label col-md-4 col-sm-4">Cidade:</label>

									<div class="col-md-8 col-sm-8">

									 <input class="form-control" id="cidade1" name="cidade1" required/>
                					</div>


									<label class="control-label col-md-4 col-sm-4">Endereço:</label>

									<div class="col-md-8 col-sm-8">

									 <input class="form-control" id="endereco" name="endereco" required/>
                					</div>

									<label class="control-label col-md-4 col-sm-4">Estabelecimento:</label>

									<div class="col-md-8 col-sm-8">

									 <input class="form-control" id="estabelecimento" name="estabelecimento" required/>
                					</div>
									<label class="control-label col-md-4 col-sm-4">Adicional de deslocamento :</label>

									<div class="col-md-6 col-sm-6">

										<div class="col-sm-3">

						                        <label class="check-inline">

						                            <input name="deslocamento" id="deslocamento" value="1" type="checkbox"   /> Sim

						                        </label>

						                     </div>

									</div>
									
									<label class="control-label col-md-4 col-sm-4">Pernoite :</label>

									<div class="col-md-6 col-sm-6">

										<div class="col-sm-3">

						                        <label class="check-inline">

						                            <input name="pernoite" id="pernoite" value="1" type="checkbox"  /> Sim

						                        </label>

						                     </div>


									</div>
								
									


								</div>
								</div>

								

								<div class="form-group">

									

								</div>

								
								<div class="form-group">

									<label class="control-label col-md-4">Natureza da missão*:</label>

									<div class="col-md-8">

									    <select class="form-control selectpicker" name="natureza_missao" data-size="10" data-live-search="true" data-style="btn-inverse" required>

                                            <option value="" selected>Selecione a natureza da missão</option>

					    <option value="1">INVESTIGAÇÃO</option>

                                            <option value="2">PREVENÇÃO</option>

                                            <option value="3">ADMINISTRATIVA</option>

                                            <option value="4">CAPACITAÇÃO</option>

                                            <option value="5">OPERACIONAL/TRIPULANTE</option>

                                            <option value="6">REPRESENTAÇÃO</option>
											
											<option value="7">OUTROS</option>
                                          

                                        </select>

									</div>

								</div>





								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4">Justificativa:</label>

									<div class="col-md-8 col-sm-8">

									 <textarea class="form-control" id="justificativa" name="justificativa" rows="4"></textarea>



                					</div>

								</div>
								
								
								
								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4">Observações :</label>

									<div class="col-md-8 col-sm-8">

									 <textarea class="form-control" id="observacoes" name="observacoes" rows="4"></textarea>



                					</div>

								</div>

							
								

								<div class="form-group">

									<label class="control-label col-md-4 col-sm-4"></label>

									<div class="col-md-8 col-sm-8">
										<input type="hidden" name="valor_dolar" id="valor_dolar" value="" />
										<button type="submit" id="" name="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar requisição</button>

                					</div>

								</div>

								

							

						</div>

					</div>

					<!-- end panel -->

				</div>

				<!-- end col-6 -->

				<!-- begin col-6 -->

			
				<div class="bloco_passagem">
					<div id="passagem" class="col-md-6">

					</div>
				</div>



				<!-- end col-6 -->

			</div>

			

			<!-- end row -->

			</form>

		</div>

		<!-- end #content -->

		

		<!-- begin theme-panel -->

		

		<!-- end theme-panel -->

		

		<!-- begin scroll to top btn -->

		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>

		<!-- end scroll to top btn -->

	</div>



{% block javascripts %}
	
	<script>
	
	
    </script>
{% endblock javascripts %}

{% include 'Site/Partials/footer_teste.html' %}

