<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->


<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_ajax/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->

		
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Form Stuff</a></li>
        <li class="active">Form Plugins</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Form Plugins <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    
            <!-- end panel -->
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-plugins-9">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">jQuery Tag It</h4>
                </div>
                <div class="panel-body panel-form">
                    <form class="form-horizontal form-bordered">
                        <div class="form-group">
                            <label class="control-label col-md-4">Default Tags Input with Autocomplete</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-default">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                                <p>Try to enter "c++, java, php" </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Inverse Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-inverse" class="inverse">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">White Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-white" class="white">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Primary Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-primary" class="primary">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Info Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-info" class="info">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Success Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-success" class="success">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Warning Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-warning" class="warning">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Danger Theme</label>
                            <div class="col-md-8">
                                <ul id="jquery-tagIt-danger" class="danger">
                                    <li>Tag1</li>
                                    <li>Tag2</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
    //App.restartGlobalFunction();
   // App.setPageTitle('Color Admin | Form Plugins');
    
    $.getScript('src="{{site_url}}Public/color_admin_v1.5/admin/template_content_ajax/assets/js/form-plugins.demo.min.js').done(function() {
        FormPlugins.init();
    });
</script>
<!-- ================== END PAGE LEVEL JS ================== -->