<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block titulo %} {{titulo }} {% endblock %}</title>
        <meta name="robots" content="noindex">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />


        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />

        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/animate.min.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/style.min.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/style-responsive.min.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/theme/default.css" rel="stylesheet" id="theme" />
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
		<link href="{{site_url}}/Public/css/jquery-ui.css" rel="stylesheet" />
		<script src="{{site_url}}/Public/js/jquery.min.1.7.2.js"></script>
		<script src="{{site_url}}/Public/js/jquery.min.1.5.0.js"></script>
        <link href="{{site_url}}Public/color_admin_v1.5/admin/template_content_html/assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />




        <!-- ================== END PAGE LEVEL STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        <style type="text/css">

            .ocultar{display:none}           

        </style>


         <script type="text/javascript" src="Public/clone/js/clone-form-td2.js"></script>
       
        
         <script type="text/javascript" src="Public/js/clone2.js"></script>
         <script type="text/javascript" src="Public/js/tripulante-lesao.js"></script>
         

        <!-- ================== END BASE JS ================== -->
    </head>
    <body>

