<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	  <meta charset="utf-8" />
    <title>{% block titulo %} {{titulo }} {% endblock %}</title>
	<meta name="robots" content="noindex">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />


    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />

    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/animate.min.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/style.min.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="{{site_url}}/Public/color_admin_v1.5/admin/template_content_html/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/redmond/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <link href="{{site_url}}Public/color_admin_v1.5/admin/template_content_html/assets/plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/redmond/jquery-ui.css">
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
            
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> CENIPA
                    <small>Painel</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end brand -->
            <div class="login-content">
                <iframe src="http://kibana.cenipa.intraer/goto/7ee131a714da40f58d19badfa36581a5?embed=true" height="1024" width="1024"></iframe>
            </div>
        </div>
        <!-- end login -->
        
      
	</div>
	<!-- end page container -->
	
	{% include 'Site/Partials/footer1.html' %}

</body>
</html>
